@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* element styles */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Body ******************/
.body {
    background-image: linear-gradient(90deg, #dddddd, #eeeeee);
}

/* Header *******************/

.header {
    text-align: center;
    width: 80vw;
    margin-inline: auto;
    padding: 2rem;
}

/* logo image */
.logo__image {
    height: 80px;
    width: auto;
    border-radius: 50%;
}

/* page title */
.page__title {
    font-size: 1.5em;
}

/* Page tagline */
.page__tagline {
    font-size: 1.2em;
    font-style: italic;
    letter-spacing: .0125em;
}

/* Content Body *******************/

.content-body {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid #8fe88f;

}


/* Main */
.main-fishTank {
    flex: 3 480px;
}

/* Fish List Section */
.fishList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fish-details__list {
    list-style-type: "\01F4A6";
    padding-inline-start: 1rem;
}

/* fist list details */
.fish__image {
    width: 70px;
    height: auto;
    object-fit: cover;
}

/* fish card styling */
.card--padding {
    padding: 1rem;
}

.fish__card {
    background-color: #ffffff;
    border-radius: .5rem;
    margin: 1rem;
    box-shadow: 1px 2px 4px #dddddd;
    border: 2px solid #f0f8ff;
    flex: 1;
    white-space: nowrap;
}

/* Sidebar  ***************/
.sidebar {
    flex: 0 240px;
    background-color: #8fe88f;
    padding: 1rem 1rem;
}

/* Miscellaneous styling  ***************/
.text--bold {
    font-weight: bold;
}

.margin-1rem {
    margin: 1rem;
}


